{% extends "base.html" %}
{% block title %}Contacto{% endblock %}

{% block content %}
  <div class="card">
    <h2>Contacto</h2>
    {% if sent %}
      <p>¡Gracias por tu mensaje!</p>
    {% else %}
      <form method="post">
        {% csrf_token %}
        <p>
          <label>Nombre</label><br>
          <input name="nombre" required style="padding:8px;width:100%;max-width:420px">
        </p>
        <p>
          <label>Mensaje</label><br>
          <textarea name="mensaje" rows="4" required style="padding:8px;width:100%;max-width:620px"></textarea>
        </p>
        <button class="btn" type="submit">Enviar</button>
      </form>
    {% endif %}
  </div>
{% endblock %}